node_modules/

.env
.env.*

*.log
*.tmp

# Package manager files
.yarn/
.yarn-cache/
.pnp/
.pnp.js
.pnp.cjs
yarn-error.log

# Ignore data files
*.csv
*.txt

# Generated folders
output/
dist/
build/
coverage/

# Runtime and temporary files
*.pid
*.seed
*.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/