# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build/output folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/

Node Learning/Module 1/practise/docs/copyhugefile.txt
Node Learning/Module 1/practise/stream_buffer.txt