 body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.box {
    height: 300px;
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.box_1 {
    background-color: red;
}

.box_2 {
    background-color: blue;
}
.box_3 {
    background-color: green;
}