/* universal selector */
*{
    background-color: rgb(65, 118, 168);
}


/* element selector */
p{
    color:rgb(216, 210, 210)
}
hr{
    color: white;
}

/* class selector */
.box{
    background-color: yellow;
}

/* ID selector */
#heading{
    color:red
}

/* attribute selector */
input[required]{
    border:2px solid black;
}

/* grouping selector */
h1,h2,h3{
    color:whitesmoke;
}

/* descendent selector */
/* apply to all child  */
div p{
    color: red;
}

/* child selector */
/* only applies to the child  */
div > p{ 
 color: burlywood;
} 

/* adjacent sibling A+b */
/* the nearby element is targeted */
h1+p{
    color:rgb(100, 122, 100);
}

/* general siblings
selects all matching siblings */
h1~p{
    color: yellowgreen;
}

/* pseudo-class */
/* Apply when the mouse pointer is over the element. */

button{
    background-color: gray;
    color: white;
}
button:hover{
    background-color: blue;
}

