.header__btn{
    font-family:$font-sans;
    font-size: $font-size-xs;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: $border-radius-md;
    border:2px solid $color-black;
    background:transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    &header__btn--login{
        background-color: $color-black;
        color: $color-white;
    }

    &header__btn--subscribe{
        background-color: transparent;
        color:$color-black;
    }

    &:hover{
        background-color: #333;
        color: $color-white;
        border-color:#333 ;
    }
}