//header - part
.header{
    border-bottom: 2px solid $color-black;
    padding-bottom:$spacing-md;
    // margin-bottom: $spacing-lg;
    font-family:$font-sans;
    padding:10px;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:$spacing-sm ;
        gap: $spacing-lg;
    }

    //left section
    &__left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-md;
        flex: 1;
    }

    &__icons{
        display: flex;
        align-items: center;
        gap: $spacing-sm;
    }

    &__hamburger{
        font-size: $font-size-lg;
        cursor: pointer;
        line-height: 1;
    }

    &__search{
        font-size: 18px;
        cursor: pointer;
        line-height: 1;
        &:hover{
            color:$color-text-light;
        }
    }

    &__date-info{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__date{
        font-size: $font-size-sm;
        font-weight: 700;
        text-transform: uppercase;
        color:$color-text-dark;
        line-height: 1;
    }

    &__epaper-link{
        font-size: $font-size-sm;
        text-transform: uppercase;
        color:$color-text-light;
        text-decoration: none;
        font-weight: 700;
    
        &:hover{
            text-decoration: underline;
        }
    }

    //center logo
    &__logo{
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 50px;
            width: auto;
        }
    }

    //right section
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap:$spacing-sm;
        flex:1;
    }

    &__button{
        display: flex;
        gap:$spacing-sm;
    }

    &__weather{
        display: flex;
        gap:2px;
        font-weight: 700;
        flex-direction: column;
        align-items: flex-end;
        font-size: $font-size-sm;
        color: $color-text-dark;
        line-height: 1;
    }

    &__weather--location{
        color: $color-text-dark;
        font-weight: 700;
    }

    &__weather--location--angle{
        color: rgb(83, 132, 9);
    }

    &__weather--celcius-degeree{
        color: #9e9c9c;
    }

    &__btn--login{
        color: #ffff;
        background-color: $color-bg-dark;
    }
}