.layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $spacing-lg;
    margin-bottom: $spacing-xl;
    padding: 0px 20px;
}

// news section leftside
.news{
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    // hero content
    &__hero{
        height: 350px;
        display: grid;
        grid-template-columns: 2.6fr 1fr;
        gap:$spacing-lg;
        padding-bottom:0;
        // border: solid 1px black;
        align-items: stretch;
        margin-bottom: $spacing-lg;
    }

    &__hero-image{
        width: 100%;
        height: 100%;
        border-radius: $border-radius-md;
        overflow: hidden;
    

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }


    &__hero-content{
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        min-width: 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    &__hero-title{
        font-family: $fonts-serif;
        font-size: 26px;
        line-height: 1.2;
        color: $color-black;
        margin: 0;
    }

    &__hero-author{
        font-size: $font-size-xs;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-text-dark;
        letter-spacing: 0.5px;
        margin-bottom: -8px;

    }

    &__hero-desc{
        margin: 0;
        font-size: $font-size-md;
        color:$color-text-light;
        line-height: 1.2;
    }

    &__grid{
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: $spacing-lg;
    }
}

 