@use "sass:map";
$padding:5px;
$utilities:(
    "padding":
        ("prefix":"p",
         "values":(
            "0":0,
            "1":$padding *2,
            "2":$padding * 4,
            "3":$padding * 6,
            ),
        ),

    "padding-left":
        ("prefix":"pl",
         "values":(
         "0":0,
         "1":$padding *2,
         "2":$padding * 4,
         "3":$padding * 6,
            ),
        ),

    "padding-right":
        ("prefix":"pr",
         "values":(
         "0":0,
         "1":$padding *2,
         "2":$padding * 4,
         "3":$padding * 6,
            ),
        ),
);

@each $property,$map in $utilities{
    $prefix:map.get($map,"prefix");
    @debug $prefix;
    $values:map.get($map,"values");
    @debug $values;
    
    @each $key,$val in $values{
        .#{$prefix}-#{$key}{
            #{$property}:$val;
        }
    }
}

